<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title>Title</title>
       <link rel="stylesheet" href="">
   </head>
           
   <body>
           <h1>Weather Data Api</h1>
           <p>URL Format: http://127.0.0.1:5000/api/v1/static/date </p>
           <p>URL Example: http://127.0.0.1:5000/api/v1/10/19981025 </p>
   </body>
           
</html>